<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>
    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form action="submit" method="POST">

                {% csrf_token %}
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username" />
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit">Entrar</button>
            </form>
        {% for message in messages %}
            <div class="message-error">
                <strong>Erro: </strong> {{ message }}
            </div>
        {% endfor %}
    </div>
    </main>
</body>
</html>